body {
    background-color: #212121;
    color: white;
}

h1, h2 {
    color: #e95950;
}

h2 {
    margin: 15px 0;
}

th {
    text-align: center;
}

.form-holder {
    margin: 125px 80px 20px 30px;
}

.command-section {
    margin: 5px 0 50px 60px;
}

.flex-container {
    display: flex;
    margin: 10px 30px;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.btn-actions {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
}
